---
import { Icon } from 'astro-icon/components'
---

<footer class="container mt-48 pb-12 pt-8 text-center">
  <p class="text-lg">&copy; Sly Soluciones - {new Date().getFullYear()}</p>
  <div class="mt-8 flex items-center justify-center gap-8 text-current">
    <Icon name="instagram" class="size-6" />
    <Icon name="facebook" class="size-6" />
    <Icon name="twitter" class="size-6" />
  </div>
</footer>
