---
import MenuButton from '~/components/MenuButton.astro'
import Footer from './Footer.astro'
---

<header class="mb-10 h-16 max-w-[100vw] lg:h-24">
  <nav class="group container flex h-full w-full items-center justify-between">
    <a href="/" class="text-lg font-medium">Sly</a>
    <MenuButton class:list={'block lg:hidden'} id="menuButton" />
    <div
      class="fixed inset-0 z-[888] flex w-full flex-col items-center overflow-x-auto bg-[#222] px-6 text-[#FAE9D4] lg:hidden"
      id="menuMobileContent"
    >
      <aside class="flex min-h-16 w-full items-center justify-between">
        <span></span>
        <MenuButton id="innerMenuButton" />
      </aside>
      <nav class="navContent flex w-full flex-col items-center gap-5">
        <h1>MENU CONTENT</h1>
      </nav>
      <div class="mt-auto">
        <Footer />
      </div>
    </div>
  </nav>
</header>

<style>
  #menuMobileContent {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  #menuMobileContent.open {
    opacity: 1 !important;
    pointer-events: all;
  }
</style>

<script>
  import { $ } from '~/lib/dom-selector'

  function toggleMenu(
    nav: HTMLElement | null,
    menuMobileContent: HTMLElement | null,
    navContent: HTMLElement | null,
  ) {
    menuMobileContent?.classList.toggle('open')
    nav?.classList.toggle('open')
    navContent?.classList.toggle('animate-bounce-fade-in')
    document.body.classList.toggle('overflow-hidden')
    document.body.classList.toggle('lg:overflow-auto')
  }

  document.addEventListener('astro:page-load', () => {
    const nav = $('nav')
    const menuButton = $('#menuButton')
    const innerMenuButton = $('#innerMenuButton')
    const menuMobileContext = $('#menuMobileContent')
    const navContent = $('.navContent')

    menuButton?.addEventListener('hamburgerButtonClicked', () => {
      toggleMenu(nav, menuMobileContext, navContent)
    })
    innerMenuButton?.addEventListener('hamburgerButtonClicked', () =>
      toggleMenu(nav, menuMobileContext, navContent),
    )

    if (menuMobileContext?.classList.contains('open')) {
      toggleMenu(nav, menuMobileContext, navContent)
    }
  })
</script>
