---
import { Icon } from 'astro-icon/components'

type Props = {
  service: {
    title: string
    description: string
    icon: string
  }
}

const { service } = Astro.props
---

<li
  class="flex h-[350px] w-full flex-col justify-between rounded-[4px] bg-canvas-secondary p-6"
>
  <Icon name={service.icon} class="size-[72px] text-fg-muted" />
  <span></span>
  <div class="space-y-2">
    <h1 class="text-2xl">{service.title}</h1>
    <p class="text-fg-muted">{service.description}</p>
  </div>
</li>
