<section class="container grid pt-24 md:pt-64 xl:grid-cols-[560px,1fr]">
  <header class="flex flex-col gap-4">
    <h1
      class="flex items-center gap-6 uppercase before:h-px before:w-24 before:bg-fg-muted/50"
    >
      Preguntas Frecuentes
    </h1>
    <h2 class="max-w-lg text-3xl font-light xl:text-4xl">
      Lo que necesitas saber sobre nuestras soluciones técnicas.
    </h2>
    <p class="max-w-lg text-fg-muted">
      Tu tranquilidad es clave. Estamos listos para responder cualquier
      consulta.
    </p>
  </header>
  <ul class="mt-12 flex flex-col gap-4 xl:mt-0">
    <li class="h-24 w-full bg-canvas-secondary"></li>
    <li class="h-24 w-full bg-canvas-secondary"></li>
    <li class="h-24 w-full bg-canvas-secondary"></li>
    <li class="h-24 w-full bg-canvas-secondary"></li>
    <li class="h-24 w-full bg-canvas-secondary"></li>
    <li class="h-24 w-full bg-canvas-secondary"></li>
  </ul>
</section>
