---
import { Icon } from 'astro-icon/components'
import ServiceCard from '~/components/ServiceCard.astro'

const services = [
  {
    title: 'Computadoras & Laptops',
    description:
      'Reparamos, actualizamos y optimizamos tus dispositivos, ofreciendo un servicio rápido, confiable y profesional.',
    icon: 'computer',
  },
  {
    title: 'Respaldo de datos',
    description:
      'Protegemos tus datos con soluciones de respaldo y recuperación rápidas, seguras y adaptadas a tus necesidades.',
    icon: 'database',
  },
  {
    title: 'Privacidad & Seguridad',
    description:
      'Refuerza tu privacidad y seguridad con soluciones avanzadas para proteger tus datos y dispositivos.',
    icon: 'shield-check',
  },
  {
    title: 'Wi-Fi & Redes',
    description:
      'Configuramos y mejoramos tus redes para ofrecer una conexión rápida, segura y sin interrupciones.',
    icon: 'network',
  },
]
---

<section class="container grid pt-24 md:pt-64 xl:grid-cols-[560px,1fr]">
  <header class="flex flex-col gap-4">
    <h1
      class="flex items-center gap-6 uppercase before:h-px before:w-24 before:bg-fg-muted/50"
    >
      Servicios
    </h1>
    <h2 class="max-w-lg text-3xl font-light xl:text-4xl">
      Soluciones integrales para tus necesidades tecnológicas.
    </h2>
    <p class="max-w-lg text-fg-muted">
      Potenciamos tus equipos con servicio técnico eficiente y soluciones
      personalizadas.
    </p>
  </header>
  <ul class="mt-12 grid gap-4 md:grid-cols-2 xl:mt-0">
    {services.map(service => <ServiceCard service={service} />)}
  </ul>
</section>
